@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Light'), local('TTFirsNeue-Light'),
    url('../fonts/TTFirsNeue-Light.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'),
    url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
